apiVersion: operator.openshift.io/v1
kind: IngressController
metadata:
  name: default
  namespace: openshift-ingress-operator
spec:
  namespaceSelector:
    matchExpressions:
    - key: name
      operator: NotIn
      values:
      - finance
      - ops
      - dev
  routeSelector:   #self-added
    matchExpressions:
    - key: type
      operator: NotIn
      values:
      - sharded

